<footer ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li><md-button class="md-primary" du-smooth-scroll="about"">В
						начало</md-button></li>
					<li><md-button class="md-primary"
							du-smooth-scroll="services">Сервис</md-button>
					</li>
					<li><md-button class="md-primary"
							du-smooth-scroll="contact">Контакты</md-button>

					</li>
				</ul>
				<p class="copyright text-muted small">Copyright &copy; City
					Sport Group 2016. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>