<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="app" ng-controller="AppController as ctrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="app" ng-controller="AppController as ctrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="app" ng-controller="AppController as ctrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" ng-controller="AppController as ctrl" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <meta name="fragment" content="!"/>

    <title>Бронирование площадок - Город спорта</title>
    <meta name="keywords"
          content="спорт площадка,футбол,баскетбол,аренда,аренда площадки,бронирование площадки,бронирование поля"/>
    <!--<meta name="description" content="Discover a great variety of latest, affordable fashion styles online and mobile with trendeo. Shop dresses, tops, shoes, shorts and accessories for women and men" />-->
    <meta name="robots" content="index"/>

    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Sun, 24 jan 2010 12:28:36 GMT">
    <meta http-equiv="pragma" content="no-cache"/>

    <meta property="og:url" content="http://sport-places.in.ua"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Сервис для бронирование спортивных площадок - Sport-places"/>
    <!--<meta property="og:description"   content="Discover a great variety of latest, affordable fashion styles online and mobile with trendeo. Shop dresses, tops, shoes, shorts and accessories for women and men" />-->
    <meta property="og:image" content="assets/favicon.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="assets/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="assets/icons/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="assets/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="assets/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="assets/icons/manifest.json"/>
    <meta name="apple-mobile-web-app-title" content="sport-places.in.ua"/>
    <meta name="application-name" content="sport-places.in.ua"/>
    <meta name="msapplication-TileColor" content="#516b8a"/>
    <meta name="msapplication-TileImage" content="assets/icons/ms-icon-144x144.png"/>
    <meta name="msapplication-config" content="assets/icons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- compiled CSS -->
    <% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

</head>
<body>

    <ng-include src="'components/navigation.tpl.html'"></ng-include>

    <div ui-view="main"></div>

    <ng-include src="'components/footer.tpl.html'"></ng-include>

    <!-- compiled JavaScript -->
    <% scripts.forEach(function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <!-- liveReload if needed -->
    <% lr.forEach(function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript">
        var reformalOptions = {
            project_id: 973063,
            project_host: "sport-places.reformal.ru",
            tab_orientation: "right",
            tab_indent: "50%",
            tab_bg_color: "#FF6E40",
            tab_border_color: "#FFFFFF",
            tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/a08a7c60392f68cb33f77d4f56cf8c6f/right/1/tab.png",
            tab_border_width: 2
        };

        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript'; script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
    </script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://sport-places.reformal.ru">Oтзывы и предложения для Sport-places</a></noscript>
</body>
</html>
